@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
body{
	background: #A22F31;
}
.container{
	max-width: 980px;
	margin: 0 auto;
	background: #3DBF80;
	
	
}
h1{
	color: #A342AC;
	padding: 20px;
}
.contenido{
	padding: 40px;
}

.flote{
	
	float: left;
	margin: 4px;
	
}








